---
title: Nike Vision Prototype
model: homepage
---
<%= partial "partials/data-gridwall" %>
<section class="content">
    <section class="p1 -cover js-lazy-image js-resize" data-resize="p1--mobile" data-img-src="../images/home/p1-mens-mobile.jpg"></section>
    <div class="padding--30 padding-top--60 padding-bottom--60 -text--center">
        <div class="h1 margin-bottom--20">Nike Gift Guide</div>
        <div class="p margin-bottom--20">Always give your best with our top gifts for men.</div>
        <a class="p p--dark -underline" href="#">Shop Now</a>
    </div>
    <%= partial "mobile/partials/navi-commons" %>
</section>
<%= partial "mobile/partials/navi-tunnel" %>