---
title: Navigation 50/50 // Nike Mobile Prototype
---
<section class="content">
    <%= partial "mobile/partials/carousel-homepage" %>
    <%= partial "mobile/partials/navi-commons" %>
</section>
<%= partial "mobile/partials/navi-5050" %>