<!-- Kobe X Story -->
<!--
<div class="slide slide--left js-slide-view js-slide--kobex">
    <div class="slide__scroll js-slide-scroll">
        <div class="button button--light-dark button--left button--left--small -text--center js-slide-close">The Inspiration of Kobe X</div>
        <section class="figure">
            <img class="image js-lazy-image" data-img-src="../images/features/kobe-story1.jpg" />
        </section>
        <section class="padding-left--30 padding-right--30 -text--center -bg--black">
            <div class="h3 margin-bottom--10">Kobe X</div>
            <div class="h1 h1--light margin-bottom--20">The Master</div>
            <div class="p">Ten Kobe X symbols have fueled Kobe's fire for a lifetime. Their stories embody his inspiring competitive spirit and capture his precise and strategic approach to the game.</div>
        </section>
        <section class="figure">
            <img class="image js-lazy-image" data-img-src="../images/features/kobe-story2.jpg" />
        </section>
        <section class="padding-left--30 padding-right--30 padding-top--60  -text--center -bg--black">
            <div class="h1 h1--light">Pushing the Limits</div>
        </section>
        <section class="figure">
            <img class="image js-lazy-image" data-img-src="../images/features/kobe-story3.jpg" />
        </section>
        <section class="padding-left--30 padding-right--30 -text--center -bg--black">
            <div class="circle h3 -light margin-bottom--20">1</div>
            <div class="h3 -light margin-bottom--10">Extreme Traction</div>
            <div class="p">A unique outsole pattern allows quick cuts in any direction</div>
        </section>
        <section class="figure">
            <img class="image js-lazy-image" data-img-src="../images/features/kobe-story4.jpg" />
        </section>
        <section class="padding--30 -text--center -bg--black">
            <div class="h3 -light">Buy Now $180</div>
        </section>
    </div>
</div>
-->