<!-- Free Shipping -->
<div class="modal modal--padded js-modal-view js-modal--ship" data-header="Free Shipping">
    <div class="modal__scroll js-modal-scroll">
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center -border--bottom">
            <div class="h2 margin-bottom--20">Free Shipping and Orders Over $75</div>
            <div class="p margin-bottom--20">Free shipping is available for all Nike.com orders with a merchandise total of $75 or more. Nike free shipping is automatically applied during checkout (no promo code necessary) for all qualifying orders.</div>
            <div class="p">The Nike free shipping offer applies to standard shipping only (2-5 business days and US shipping addresses only*). See the Nike shipping FAQ to learn more about expedited shipping options.</div>
        </div>
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center -bg--grey">
            <div class="h2 margin-bottom--20">Register for Free Returns</div>
            <div class="p margin-bottom--30">You can also register with Nike for free to get personalized services and benefits such as:</div>
            <div class="p -text--left">
                <ul class="list">
                    <li class="disc margin-bottom--10">Access to exclusive releases and limited products</li>
                    <li class="disc margin-bottom--10">Free returns</li>
                    <li class="disc margin-bottom--10">Complimentary in-store shoe trials, pant hemming and more</li>
                    <li class="disc ">Nike+ services, benefits and promotions</li>
                </ul>
            </div>
        </div>
        <div class="button">Register</div>
    </div>
</div>
<div class="slide slide--left slide--padded js-slide-view js-slide--ship" data-header="Shipping and Returns">
    <div class="slide__scroll js-slide-scroll">
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center -border--bottom">
            <div class="h2 margin-bottom--20">Nike Free Shipping</div>
            <div class="p margin-bottom--20">Free shipping is available for all <span class="a">Nike.com</span> orders with a merchandise total of $75 or more. Nike free shipping is automatically applied during checkout (no promo code necessary) for all qualifying orders.</div>
            <div class="p">The Nike free shipping offer applies to standard shipping only (2-5 business days and US shipping addresses only*). See the Nike shipping FAQ to learn more about expedited shipping options.</div>
        </div>
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center -bg--grey">
            <div class="h2 margin-bottom--20">Register for Free Returns</div>
            <div class="p margin-bottom--30">Not sure what size to order? No problem. Returns are always hassle-free.</div>
            <div class="p -text--left">
                <ul class="list">
                    <li class="disc margin-bottom--10">Free processing on all returns</li>
                    <li class="disc margin-bottom--10">Free standard shipping on returns for registered <span class="a">Nike.com</span> members</li>
                    <li class="disc">Returns accepted for any reason (within 30 days of ship date)</li>
                </ul>
            </div>
            <div class="p margin-top--30 margin-bottom--30">*<span class="a">Nike.com</span> (US) ships to addresses within the continental US, Alaska, and Hawaii. Nike also ships to APO/FPO addresses. See more about Nike.com international shipping.</div>
        </div>
        <div class="button">Register</div>
    </div>
</div>


<!-- Share -->
<div class="modal modal--padded js-modal-view js-modal--share" data-header="Share Kobe X">
    <div class="modal__scroll js-modal-scroll">
        <div class="padding--30 padding-top--40 padding-bottom--40">
            <div class="button button--facebook margin-bottom--20">Facebook</div>
            <div class="button button--twitter margin-bottom--20">Twitter</div>
            <div class="button button--pinterest">Pinterest</div>
        </div>
    </div>
</div>


<!-- Size and fit slide -->
<div class="slide slide--left slide--padded js-slide-view js-slide--fitguide" data-header="Size and Fit Guide">
    <div class="slide__scroll js-slide-scroll">
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center -border--bottom">
            <div class="h2 margin-bottom--20">Men&rsquo;s Shoes: Measure Your Feet</div>
            <div class="p">Wear the type of socks you'll wear with your shoes and measure feet in the afternoon (feet typically swell during the day). Distribute weight evenly before measuring.</div>
        </div>
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center -border--bottom">
            <div class="h2 margin-bottom--20">Free Returns</div>
            <div class="p margin-bottom--30">Not sure what size to order? No problem. Returns are always hassle-free.</div>
            <div class="p margin-bottom--20 -text--left">
                <ul class="list">
                    <li class="disc margin-bottom--10">Free processing on all returns</li>
                    <li class="disc margin-bottom--10">Free standard shipping on returns for registered Nike.com members</li>
                    <li class="disc ">Returns accepted for any reason (within 30 days of ship date)</li>
                </ul>
            </div>
            <div class="a a--block">Learn More</div>
        </div>
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center -bg--grey -border--bottom">
            <div class="h2 margin-bottom--20">Step 1</div>
            <div class="p">Stand up straight on a hard surface with your heel against the wall and a piece of blank paper taped to the floor, flush against the wall beneath your foot.</div>
        </div>
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center -bg--grey -border--bottom">
            <div class="h2 margin-bottom--20">Step 2</div>
            <div class="p">Have someone mark the longest part of your foot (referred to as heel-to-toe length) on the paper with a pen or pencil, or measure yourself if necessary. Repeat with the other foot, as right and left sizes may be different.</div>
        </div>
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center -bg--grey -border--bottom">
            <div class="h2 margin-bottom--20">Step 3</div>
            <div class="p">Use a ruler to measure the heel-to-toe length you marked for each foot.</div>
        </div>
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center -border--bottom">
            <div class="h2 margin-bottom--20">Find Your Size</div>
            <div class="p">Use your measurements and the chart below to determine your shoe size.</div>
        </div>
        <div class="-clear -text--center -trade -font--12">
            <div class="col col--2of4 -border--right">
                <div class="padding-top--25 padding-bottom--25 -bg--grey">Size</div>
                <div class="padding-top--10 padding-bottom--10">6</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">7</div>
                <div class="padding-top--10 padding-bottom--10">8</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">9</div>
                <div class="padding-top--10 padding-bottom--10">10</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">11</div>
                <div class="padding-top--10 padding-bottom--10">12</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">13</div>
                <div class="padding-top--10 padding-bottom--10">14</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">15</div>
                <div class="padding-top--10 padding-bottom--10">16</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">17</div>
                <div class="padding-top--10 padding-bottom--10">18</div>
            </div>
            <div class="col col--2of4">
                <div class="padding-top--25 padding-bottom--25 -bg--grey">Heel-to-Toe Length (in.)</div>
                <div class="padding-top--10 padding-bottom--10">9 3/8</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">9 5/8</div>
                <div class="padding-top--10 padding-bottom--10">10</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">10 3/8</div>
                <div class="padding-top--10 padding-bottom--10">10 5/8</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">11</div>
                <div class="padding-top--10 padding-bottom--10">11 3/8</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">11 5/8</div>
                <div class="padding-top--10 padding-bottom--10">12</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">12 3/8</div>
                <div class="padding-top--10 padding-bottom--10">12 5/8</div>
                <div class="padding-top--10 padding-bottom--10 -bg--grey">13</div>
                <div class="padding-top--10 padding-bottom--10">13 3/8</div>
            </div>
        </div>
    </div>
</div>


<!-- Benefits -->
<div class="slide slide--left slide--padded js-slide-view js-slide--benefits" data-header="Additional Benefits">
    <div class="slide__scroll js-slide-scroll">
        <div class="padding--30 padding-bottom--40 padding-top--40 -text--center">
            <div class="p -text--left">
                <ul class="list">
                    <li class="disc margin-bottom--10">Plush Lunarlon foam with flex grooves enhances natural motion</li>
                    <li class="disc margin-bottom--10">Nike Zoom unit in heel for low-profile responsiveness</li>
                    <li class="disc margin-bottom--10">Mesh half inner-sleeve for ventilation and comfort</li>
                    <li class="disc ">Synthetic overlays on the heel for support</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Features and Benefits -->
<div class="slide slide--left slide--padded js-slide-view js-slide--details" data-header="Product Details">
    <div class="slide__scroll js-slide-scroll">
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center -border--bottom">
            <div class="h2 margin-bottom--20">Available in Men&rsquo;s Sizes Only</div>
            <div class="p">Reference the Size Chart below to convert a women&rsquo;s size to men&rsquo;s.</div>
        </div>
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center">
            <div class="h2 margin-bottom--20">Extreme Traction</div>
            <div class="p">The translucent rubber outsole features a new and unique traction pattern for enhanced grip while cutting and sprinting.</div>
        </div>
        <div class="padding-left--30 padding-right--30 padding-bottom--40 -text--center">
            <div class="h2 margin-bottom--20">Strength</div>
            <div class="p">A translucent textile upper offers lightweight durability for long-lasting wear.</div>
        </div>
        <div class="padding-left--30 padding-right--30 padding-bottom--40 -text--center">
            <div class="h2 margin-bottom--20">Quick Response</div>
            <div class="p">A carbon-fiber shank increases the shoe&rsquo;s responsiveness.</div>
        </div>
        <div class="padding-left--30 padding-right--30 padding-bottom--40 -text--center">
            <div class="h2 margin-bottom--20">Signature Details</div>
            <div class="p">On the tongue, the nubuck leather features a laser-cut mamba-inspired pattern and Kobe's signature sheath logo in a premium finish.</div>
        </div>
        <div class="padding-left--30 padding-right--30 padding-top--40 padding-bottom--40 -text--center -border--top">
            <div class="h2 margin-bottom--20">Additional Benefits</div>
            <div class="p -text--left">
                <ul class="list">
                    <li class="disc margin-bottom--10">Plush Lunarlon foam with flex grooves enhances natural motion</li>
                    <li class="disc margin-bottom--10">Nike Zoom unit in heel for low-profile responsiveness</li>
                    <li class="disc margin-bottom--10">Mesh half inner-sleeve for ventilation and comfort</li>
                    <li class="disc ">Synthetic overlays on the heel for support</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Featured Tech -->
<div class="slide slide--left slide--padded js-slide-view js-slide--tech" data-header="Product Technology">
    <div class="slide__scroll js-slide-scroll">
        <section class="cta -text--center">
            <img class="cta__img image" src="../images/kobe/tech.jpg" />
            <div class="cta__block">
                <div class="valigner">
                    <div class="valigner__cell">
                        <div class="cta__play"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="padding--30 padding-top--40 padding-bottom--40 -text--center">
            <div class="h2 margin-bottom--20">Nike Air Zoom</div>
            <div class="p">Nike Air Zoom cushioning delivers an ultra responsive ride to help optimize performance by maintaining fast and natural motion.</div>
        </section>
    </div>
</div>


<!-- Online help slide -->
<div class="slide slide--left slide--padded js-slide-view js-slide--help" data-header="Help and Support">
    <div class="slide__scroll js-slide-scroll">
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center">
            <div class="h2 margin-bottom--20">Ask a Basketball Expert</div>
            <div class="p">Our Nike Running Experts can answer questions about products found on Nike, offer expert recommendations and give tips on the gear that&rsquo;s right for your run.</div>
        </div>
        <%= partial "mobile/partials/help-commons" %>
    </div>
</div>


<!-- UGC slide -->
<div class="slide slide--left slide--padded js-slide-view js-slide--ugc" data-header="<span class='span margin-right--10 icon icon--instagram -font--14'></span><span class='span'>#Kobex</span>">
    <div class="slide__scroll js-slide-scroll">
        <div class="image image--box -bg--black js-lazy-image" data-img-src="../images/kobe/ugc/01.jpg"></div>
        <div class="padding-left--30 padding-right--30 padding-top--15 padding-bottom--15 -clear">
            <div class="col col--2of4 -text--left a a--block a--clean">@kyrie</div>
            <div class="col col--2of4 p -text--right">2 days ago</div>
        </div>
        <div class="image image--box -bg--black js-lazy-image" data-img-src="../images/kobe/ugc/02.jpg"></div>
        <div class="padding-left--30 padding-right--30 padding-top--15 padding-bottom--15 -clear">
            <div class="col col--2of4 -text--left a a--block a--clean">@kyrie</div>
            <div class="col col--2of4 p -text--right">2 days ago</div>
        </div>
        <div class="image image--box -bg--black js-lazy-image" data-img-src="../images/kobe/ugc/03.jpg"></div>
        <div class="padding-left--30 padding-right--30 padding-top--15 padding-bottom--15 -clear">
            <div class="col col--2of4 -text--left a a--block a--clean">@kyrie</div>
            <div class="col col--2of4 p -text--right">2 days ago</div>
        </div>
        <div class="image image--box -bg--black js-lazy-image" data-img-src="../images/kobe/ugc/04.jpg"></div>
        <div class="padding-left--30 padding-right--30 padding-top--15 padding-bottom--15 -clear">
            <div class="col col--2of4 -text--left a a--block a--clean">@kyrie</div>
            <div class="col col--2of4 p -text--right">2 days ago</div>
        </div>
        <div class="image image--box -bg--black js-lazy-image" data-img-src="../images/kobe/ugc/05.jpg"></div>
        <div class="padding-left--30 padding-right--30 padding-top--15 padding-bottom--15 -clear">
            <div class="col col--2of4 -text--left a a--block a--clean">@kyrie</div>
            <div class="col col--2of4 p -text--right">2 days ago</div>
        </div>
    </div>
</div>


<!-- Reviews slide -->
<div class="slide slide--left slide--padded js-slide-view js-slide--reviews" data-header="11 Reviews">
    <div class="slide__scroll js-slide-scroll">
        <div class="padding--30 padding-top--40 padding-bottom--40 -text--center">
            <div class="h2 margin-bottom--10">Kobe X</div>
            <div class="margin-bottom--30">
                <span class="span stars">
                    <span class="star icon icon--star is-active--dark"></span>
                    <span class="star icon icon--star is-active--dark"></span>
                    <span class="star icon icon--star is-active--dark"></span>
                    <span class="star icon icon--star is-active--dark"></span>
                    <span class="star icon icon--star"></span>
                </span>
                <span class="span -trade -font--15">4.0</span>
            </div>
            <ul class="stats">
                <li class="stat">
                    <div class="stat__labels">
                        <div class="stat__label -trade -dark -text--left col--6of12">Fit</div>
                        <div class="stat__label p p--detail -text--right col--6of12">Runs Wide</div>
                    </div>
                    <div class="stat__bar">
                        <div class="stat__fill js-stat-fill" data-width="40%" style="width:40%;"></div>
                    </div>
                </li>
                <li class="stat">
                    <div class="stat__labels">
                        <div class="stat__label -trade -dark -text--left col--6of12">Size</div>
                        <div class="stat__label p p--detail -text--right col--6of12">Runs Large</div>
                    </div>
                    <div class="stat__bar">
                        <div class="stat__fill js-stat-fill" data-width="50%" style="width:50%;"></div>
                    </div>
                </li>
                <li class="stat">
                    <div class="stat__labels">
                        <div class="stat__label -trade -dark -text--left col--6of12">Durability</div>
                        <div class="stat__label p p--detail -text--right col--6of12">Durable</div>
                    </div>
                    <div class="stat__bar">
                        <div class="stat__fill js-stat-fill" data-width="90%" style="width:90%;"></div>
                    </div>
                </li>
                <li class="stat">
                    <div class="stat__labels">
                        <div class="stat__label -trade -dark -text--left col--6of12">Comfort</div>
                        <div class="stat__label p p--detail -text--right col--6of12">Comfortable</div>
                    </div>
                    <div class="stat__bar">
                        <div class="stat__fill js-stat-fill" data-width="80%" style="width:80%;"></div>
                    </div>
                </li>
            </ul>
            <div class="a a--block margin-top--40 -text--center">Add Your Review</div>
        </div>
        <div class="-border--bottom -border--top -bg--grey">
            <div class="padding-left--30 padding-right--30 padding-bottom--40 padding-top--40">
                <div class="h3 h3--dark margin-bottom--20">Kobe X</div>
                <div class="margin-bottom--30 -clear">
                    <div class="col col--2of4 -lineheight--0">
                        <span class="span stars">
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star"></span>
                        </span>
                        <span class="span -trade -font--15">4.0</span>
                    </div>
                    <div class="col col--2of4 -text--right -lineheight--1">
                        <div class="p p--detail">Feb 9, 2015</div>
                    </div>
                </div>
                <div class="p">These shoes are spectacular on the court. The nodule design on the soles along with the rubber material used gives tremendous grip on the court. The zoom unit in the heal supplies great cushioning and responsiveness. The Kobe X also stay&rsquo;s to its roots by being light weight and breathable. Overall this shoe is about as good as it gets on the market right now.</div>
                <div class="a a--block margin-top--20">Continue Reading</div>
            </div>
        </div>
        <div class="-border--bottom -bg--grey">
            <div class="padding-left--30 padding-right--30 padding-top--40 padding-bottom--40">
                <div class="h3 h3--dark margin-bottom--20">Kobe X</div>
                <div class="margin-bottom--30 -clear">
                    <div class="col col--2of4 -lineheight--0">
                        <span class="span stars">
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star"></span>
                        </span>
                        <span class="span -trade -font--15">4.0</span>
                    </div>
                    <div class="col col--2of4 -text--right -lineheight--1">
                        <div class="p p--detail">Feb 9, 2015</div>
                    </div>
                </div>
                <div class="p">A great basketball shoe, the traction is great, the cushion is great too! You can&rsquo;t go wrong with this shoe! A must have if you are a true Kobe fan!!!</div>
                <div class="a a--block margin-top--20">Continue Reading</div>
            </div>
        </div>
        <div class="-border--bottom -bg--grey">
            <div class="padding-left--30 padding-right--30 padding-top--40 padding-bottom--40">
                <div class="h3 h3--dark margin-bottom--20">Smile on My Face!!!</div>
                <div class="margin-bottom--30 -clear">
                    <div class="col col--2of4 -lineheight--0">
                        <span class="span stars">
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star"></span>
                        </span>
                        <span class="span -trade -font--15">4.0</span>
                    </div>
                    <div class="col col--2of4 -text--right -lineheight--1">
                        <div class="p p--detail">Feb 8, 2015</div>
                    </div>
                </div>
                <div class="p">This Is By Far....The Most Comfortable Kobe Show I Have Ever Tried. Like Many I Had Doubts When The Pictures First Surfaced But Indeed, As Soon As I Tried The Shoe On, I Understood Why And Couldn&rsquo;t Say No To It! So Please, Do Your Feet A Favor And At Least Try Them On.... You Will Not Regret It!!!! They Fit True To Size. Enjoy</div>
                <div class="a a--block margin-top--20">Continue Reading</div>
            </div>
        </div>
        <div class="-border--bottom -bg--grey">
            <div class="padding-left--30 padding-right--30 padding-top--40 padding-bottom--40">
                <div class="h3 h3--dark margin-bottom--20">Beast</div>
                <div class="margin-bottom--30 -clear">
                    <div class="col col--2of4 -lineheight--0">
                        <span class="span stars">
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star"></span>
                        </span>
                        <span class="span -trade -font--15">4.0</span>
                    </div>
                    <div class="col col--2of4 -text--right -lineheight--1">
                        <div class="p p--detail">Feb 8, 2015</div>
                    </div>
                </div>
                <div class="p">Best shoe on the market. I made this shoe myself and it&rsquo;s the best one I have ever used.</div>
                <div class="a a--block margin-top--20">Continue Reading</div>
            </div>
        </div>
        <div class="-bg--grey">
            <div class="padding-left--30 padding-right--30 padding-top--40 padding-bottom--40">
                <div class="h3 h3--dark margin-bottom--20">The Best Kobe Technology</div>
                <div class="margin-bottom--30 -clear">
                    <div class="col col--2of4 -lineheight--0">
                        <span class="span stars">
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star"></span>
                        </span>
                        <span class="span -trade -font--15">4.0</span>
                    </div>
                    <div class="col col--2of4 -text--right -lineheight--1">
                        <div class="p p--detail">Feb 8, 2015</div>
                    </div>
                </div>
                <div class="p">Really great shoe to play basketball in. Great grip on the court. I bought my pair yesterday and i went straight to the court and the kobe 10 was awesome to play in. This shoe gets 5 stars.</div>
                <div class="a a--block margin-top--20">Continue Reading</div>
            </div>
        </div>
        <div class="button">Load More</div>
    </div>
</div>

<div class="doorway-header button button--light-dark -text--center -border--bottom js-doorway-header"></div>