<div class="container padding-top--60 padding-bottom--50">
    <div class="-clear">
        <%= partial @lhn %>
        <section class="cont">
            <%= partial "desktop/partials/gridwall-header-full-filters" %>
            <%= partial @layout %>
        </section>
    </div>
</div>