<footer class="footer footer--full js-footer--full">
    <div class="footer--full__main container container--padd -clear">
        <div class="list--inline padding-top--60 padding-bottom--60 -clear -text--center">
            <div class="list--inline__item col--1of5 -text--left -vertical--top">
                <div><a href="#" class="h2 h2--grey -font--16">Get a gift card</a></div>
                <div><a href="#" class="h2 h2--grey -font--16">Find a store</a></div>
                <div><a href="#" class="h2 h2--grey -font--16">Email signup</a></div>
                <div><a href="#" class="h2 h2--grey -font--16">Become a member</a></div>
            </div>
            <div class="list--inline__item col--1of5 -text--left -vertical--top">
                <div class="margin-bottom--20 h2 -font--16 -light">Get help</div>
                <a href="#" class="a--block p p--grey-dark -font--12">Order Status</a>
                <a href="#" class="a--block p p--grey-dark -font--12">Shipping and Delivery</a>
                <a href="#" class="a--block p p--grey-dark -font--12">Returns</a>
                <a href="#" class="a--block p p--grey-dark -font--12">Payment Options</a>
                <a href="#" class="a--block p p--grey-dark -font--12">View All Topics</a>
                <a href="#" class="a--block p p--grey-dark -font--12">Contact Us</a>
                <a href="#" class="a--block p p--grey-dark -font--12">Give Feedback</a>
            </div>
            <div class="list--inline__item col--1of5 -text--left -vertical--top">
                <div class="margin-bottom--20 h2 -font--16 -light">About Nike</div>
                <a href="#" class="a--block p p--grey-dark -font--12">News</a>
                <a href="#" class="a--block p p--grey-dark -font--12">Careers</a>
                <a href="#" class="a--block p p--grey-dark -font--12">Investors</a>
                <a href="#" class="a--block p p--grey-dark -font--12">Supply Chain</a>
                <a href="#" class="a--block p p--grey-dark -font--12">Nike Better World</a>
            </div>
            <div class="list--inline__item col--1of5 -text--left -vertical--top">
                <div class="margin-bottom--20 h2 -font--16 -light">Brands</div>
                <a href="#" class="a--block p p--grey-dark -font--12">Jordan</a>
                <a href="#" class="a--block p p--grey-dark -font--12">Hurley</a>
                <a href="#" class="a--block p p--grey-dark -font--12">Converse</a>
            </div>
            <div class="list--inline__item col--1of5 -text--left -vertical--top">
                <div class="margin-bottom--20 h2 -font--16 -light">Social</div>
                <div class="p p--grey-dark">
                    <a href="#" class="-font--30 icon icon--social icon--grey icon--twitter"></a>
                    <a href="#" class="-font--30 margin-left--5 icon icon--social icon--grey icon--facebook"></a>
                    <a href="#" class="-font--30 margin-left--5 icon icon--social icon--grey icon--youtube"></a>
                    <a href="#" class="-font--30 margin-left--5 icon icon--social icon--grey icon--instagram"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer--full__aside container container--wide padding-top--20 padding-bottom--20 -clear">
        <ul class="list list--inline -float--left">
            <li class="list--inline__item">
                <span class="figure">
                    <img class="image--inline" src="../../images/flags/us.png" />
                </span>
            </li>
            <li class="list--inline__item margin-left--10 p p--grey-dark -font--10">United States</li>
            <li class="list--inline__item margin-left--10 p p--grey-dark -font--10">&copy; 2014 Nike, Inc. All Rights Reserved.</li>
        </ul>
        <ul class="list list--inline -float--right">
            <li class="list--inline__item"><a href="#" class="p p--grey-dark -font--10">Guides</a></li>
            <li class="list--inline__item margin-left--10 margin-right--10"><span class="pipe"></span></li>
            <li class="list--inline__item"><a href="#" class="p p--grey-dark -font--10">Terms &amp; Conditions</a></li>
            <li class="list--inline__item margin-left--10 margin-right--10"><span class="pipe"></span></li>
            <li class="list--inline__item"><a href="#" class="p p--grey-dark -font--10">Privacy Policy</a></li>
        </ul>
    </div>
</footer>