::-webkit-scrollbar {
    height: 0 !important;
    width: 0 !important;
    }

::-webkit-input-placeholder {
        color: $color_text_grey !important;
    }
:-moz-placeholder {
        color: $color_text_grey !important;
    }
:-ms-input-placeholder {
        color: $color_text_grey !important;
    }