// Trade
@font-face{
    font-family: "TradeGothicW01-BoldCn20 675334";
    src: url("../fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix");
    src: url("../fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot"),
         url("../fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"),
         url("../fonts/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"),
         url("../fonts/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg");
    font-weight: normal;
    font-style: normal;
    }
@font-face{
    font-family: "Trade Gothic W01 Cn 18";
    src: url("../fonts/087e5c21-3358-4cf3-9d2c-289a03a48292.eot?#iefix");
    src: url("../fonts/087e5c21-3358-4cf3-9d2c-289a03a48292.eot?#iefix") format("eot"),
         url("../fonts/fb754dec-aa8f-444c-be48-868464c47ab0.woff") format("woff"),
         url("../fonts/295ff20c-2b48-4fa6-be92-a53bbf9bbbb4.ttf") format("truetype"),
         url("../fonts/c573d9d0-0726-4b95-aeee-fb621a299563.svg#c573d9d0-0726-4b95-aeee-fb621a299563") format("svg");
    font-weight: normal;
    font-style: normal;
    }

// Futura
@font-face{
    font-family: "FuturaW01-BoldCondensed 774890";
    src: url("../fonts/d5a62439-27d1-4deb-b8df-4c2610128f1b.eot?#iefix");
    src: url("../fonts/d5a62439-27d1-4deb-b8df-4c2610128f1b.eot?#iefix") format("eot"),
         url("../fonts/e07f45c2-9c42-4c23-ab7a-c161556274ef.woff") format("woff"),
         url("../fonts/c188225b-c194-419b-8d14-c5d677fcb3eb.ttf") format("truetype"),
         url("../fonts/a92ba10a-1759-4dc6-b9b5-06e311b67829.svg#a92ba10a-1759-4dc6-b9b5-06e311b67829") format("svg");
    font-weight: normal;
    font-style: normal;
    }
@font-face{
    font-family: "FuturaW01-ExtraBoldCond 774896";
    src: url("../fonts/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot?#iefix");
    src: url("../fonts/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot?#iefix") format("eot"),
         url("../fonts/04733668-9f3f-4f2f-a534-14fb44683f83.woff") format("woff"),
         url("../fonts/1f9bced0-1224-4785-9553-68fcbac00914.ttf") format("truetype"),
         url("../fonts/23d05127-305c-4753-8f3a-16d8109db5ca.svg#23d05127-305c-4753-8f3a-16d8109db5ca") format("svg");
    font-weight: normal;
    font-style: normal;
    }