.notification {
    @include transition(transform $base_transition_duration1 ease, opacity $base_transition_duration1 ease);
    @include transform(translate3d(0, -100%, 0));
    opacity: 0;
    background-color: $color_dark;
    left: 0;
    line-height: 1;
    padding: 23px;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: $z_layer_hidden;
    -webkit-backface-visibility: hidden;

    &.is-active {
        @include transform(translate3d(0, 0, 0));
        opacity: 1;
        visibility: visible;
        z-index: $z_layer_forward;
        }
    &.is-leaving {
        @include transform(translate3d(0, -100%, 0));
        opacity: 0;
        }
    }

.notification__text {
    }