.swiper {
    overflow: hidden;
    position: relative;
    }

.swiper__collection {
    height: 100%;
    position: relative;
    z-index: $z_layer_01;
    }

.swiper__collection__item {
    background-color: $color_background_grey;
    float: left;
    margin-left: 2px;
    position: relative;
    text-align: center;

    &:first-child {
        margin-left: 0;
        }
    }

.swiper__indicators {
    @include inline-parent();
    bottom: auto;
    left: 0;
    margin-top: -40px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: $z_layer_03;
    }

.swiper__indicators__item {
    @include inline-child( 1 );
    @include border-radius($carousel_indicator_size_large);
    @include transition(background-color $base_transition_duration1 ease);
    background-color: rgba(0, 0, 0, 0.25);
    height: $carousel_indicator_size_large;
    margin: 0 ($carousel_indicator_size_large / 2);
    width: $carousel_indicator_size_large;

    &.is-active {
        background-color: rgba(255, 255, 255, 1);
        }
    }

.swiper__indicators--standalone {
    margin-top: 0;
    padding-top: 40px;
    position: relative;

    .swiper__indicators__item.is-active {
        background-color: $color_dark;
        }
    }

@media only screen and ( max-width: $break_tablet_medium ) {
    .swiper__indicators__item {
        @include border-radius($carousel_indicator_size);
        height: $carousel_indicator_size;
        margin: 0 ($carousel_indicator_size - 2);
        width: $carousel_indicator_size;
        }
}

.swiper__indicators__item--large {
    @include border-radius($carousel_indicator_size_large);
    height: $carousel_indicator_size_large;
    margin: 0 $carousel_indicator_size_large;
    width: $carousel_indicator_size_large;
    }

.swiper__thumbnails-wrapper {
    height: 160px;
    margin-top: 2px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    }
.swiper__thumbnails {
    
    }
.swiper__thumbnails__item {
    float: left;
    position: relative;
    height: 160px;
    margin-left: 2px;
    width: 146px;

    &:first-child {
        margin-left: 0;
        }
    }
.swiper__thumbnails-wrapper--iteminfo {
    height: 185px;

    .swiper__thumbnails__item {
        &:after {
            color: $color_text_grey;
            content: "";
            display: block;
            height: 25px;
            font-family: $font_trade_gothic_20;
            font-size: 10px;
            left: 0;
            line-height: 37px;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 160px;
            width: 148px;
            }
        &:last-child:after {
            width: 100%;
            }
        &.is-out:after {
            content: "Out of Stock";
            }
        &.is-soon:after {
            content: "Coming Soon";
            }
        }
    }