<div class="carousel js-carousel">
    <ul class="carousel__collection js-carousel-collection js-resize" data-resize="p1--mobile">
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover" data-img-src="../images/home/p1-1-mobile.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover" data-img-src="../images/home/p1-2-mobile.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover" data-img-src="../images/home/p1-3-mobile.jpg"></li>
    </ul>
    <ul class="carousel__indicators js-carousel-indicators">
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
    </ul>
</div>
<div class="padding--30 padding-top--60 padding-bottom--60 -text--center">
    <div class="h1 margin-bottom--20">Nike Gift Guide</div>
    <div class="p margin-bottom--20">Always give your best with our top gifts for women.</div>
    <a class="p p--dark -underline" href="gridwall-womens-tops.html">Shop Now</a>
</div>