<div class="carousel js-carousel">
    <ul class="carousel__collection js-carousel-collection js-resize" data-resize="p1--mobile">
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover -cover--top" data-prefix="apparel" data-colorway="black" data-view="1" data-img-src="../images/pdp/apparel-black-1.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover -cover--top" data-prefix="apparel" data-colorway="black" data-view="2" data-img-src="../images/pdp/apparel-black-2.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover -cover--top" data-prefix="apparel" data-colorway="black" data-view="3" data-img-src="../images/pdp/apparel-black-3.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover -cover--top" data-prefix="apparel" data-colorway="black" data-view="4" data-img-src="../images/pdp/apparel-black-4.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover -cover--top" data-prefix="apparel" data-colorway="black" data-view="5" data-img-src="../images/pdp/apparel-black-5.jpg"></li>
    </ul>
    <ul class="carousel__indicators carousel__indicators--thumbed js-carousel-indicators">
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
    </ul>
    <div class="carousel__thumbnails-wrapper -overtouch">
        <ul class="carousel__thumbnails js-carousel-thumbnails js-resize" data-resize="belt">
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/apparel-orange-thumb.jpg" data-colorway="orange"></li>
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/apparel-green-thumb.jpg" data-colorway="green"></li>
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/apparel-blue-thumb.jpg" data-colorway="blue"></li>
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/apparel-heatherblack-thumb.jpg" data-colorway="heatherblack"></li>
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/apparel-heatherblue-thumb.jpg" data-colorway="heatherblue"></li>
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/apparel-black-thumb.jpg" data-colorway="black"></li>
        </ul>
    </div>
</div>