<div class="carousel js-carousel">
    <ul class="carousel__collection js-carousel-collection js-resize" data-resize="p1--mobile">
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover -cover--bottom" data-prefix="footwear" data-colorway="bluegreen" data-view="1" data-img-src="../images/pdp/footwear-bluegreen-1.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover -cover--bottom" data-prefix="footwear" data-colorway="bluegreen" data-view="2" data-img-src="../images/pdp/footwear-bluegreen-2.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover -cover--bottom" data-prefix="footwear" data-colorway="bluegreen" data-view="3" data-img-src="../images/pdp/footwear-bluegreen-3.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover -cover--bottom" data-prefix="footwear" data-colorway="bluegreen" data-view="4" data-img-src="../images/pdp/footwear-bluegreen-4.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover -cover--bottom" data-prefix="footwear" data-colorway="bluegreen" data-view="5" data-img-src="../images/pdp/footwear-bluegreen-5.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover -cover--bottom" data-prefix="footwear" data-colorway="bluegreen" data-view="6" data-img-src="../images/pdp/footwear-bluegreen-6.jpg"></li>
    </ul>
    <ul class="carousel__indicators carousel__indicators--thumbed js-carousel-indicators">
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
    </ul>
    <div class="carousel__thumbnails-wrapper -overtouch">
        <ul class="carousel__thumbnails js-carousel-thumbnails js-resize" data-resize="belt">
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/footwear-red-thumb.jpg" data-colorway="red"></li>
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/footwear-blue-thumb.jpg" data-colorway="blue"></li>
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/footwear-orange-thumb.jpg" data-colorway="orange"></li>
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/footwear-grey-thumb.jpg" data-colorway="grey"></li>
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/footwear-black-thumb.jpg" data-colorway="black"></li>
            <li class="carousel__thumbnails__item js-carousel-thumbnails-item js-lazy-image -cover -cover--top" data-img-src="../images/pdp/footwear-bluegreen-thumb.jpg" data-colorway="bluegreen"></li>
        </ul>
    </div>
</div>