<div class="slide slide--left js-slide-view js-slide--bowerman">
    <div class="slide__scroll js-slide-scroll">
        <%= partial "mobile/partials/elite-slide-header" %>
        <%= partial "mobile/partials/story-btc" %>
    </div>
</div>