<ul class="list padding--30 -position--relative -clear js-slide-close">
    <li class="list__item -position--absolute -lineheight--1 -float--left">
        <span class="slide__close icon"></span>
    </li>
    <li class="list__item -lineheight--1 -text--center">
        <div class="h3 h3--dark">Nike Zoom Elite 7</div>
    </li>
</ul>