<!-- Features -->
<% if current_page.data.model != "rollup" %>
    <section class="padding-top--30 padding-bottom--30 -text--center -border--top">
        <div class="h2">Product Features</div>
    </section>
<% end %>
<section class="figure">
    <img class="image" src="../images/elite/evergreen/eg3.jpg" />
</section>
<section class="padding--30 padding-top--60 padding-bottom--60 -text--center">
    <div class="h2 margin-bottom--20">BREATHABLE, SUPPORTIVE UPPER</div>
    <div class="p">The mesh upper enhances ventilation to keep you cool. Flywire and laces work together to wrap the midfoot and arch for a dynamic fit and lightweight support.</div>
</section>
<section class="figure">
    <img class="image" src="../images/elite/evergreen/eg1.jpg" />
</section>
<section class="padding--30 padding-top--60 padding-bottom--60 -text--center">
    <div class="h2 margin-bottom--20">QUICK LOW-PROFILE CUSHIONING</div>
    <div class="p">The Nike Zoom Air unit in the forefoot delivers fast responsive cushioning for smoother transitions.</div>
</section>
<section class="figure">
    <img class="image" src="../images/elite/evergreen/eg2.jpg" />
</section>
<section class="padding--30 padding-top--60 padding-bottom--60 -text--center">
    <div class="h2 margin-bottom--20">LOW PROFILE OUTSOLE</div>
    <div class="p">With a new 8mm offset, you get closer to the ground for a more efficient foot strike.</div>
</section>