<!-- Doorways -->
<div class="button button--light-dark button--right -text--left -border--top js-slide-controller" data-target=".js-slide--tech">Product Technology</div>

<% if current_page.data.model == "rollup" %>
    <div class="button button--light-dark button--right -text--left -border--top js-slide-controller" data-target=".js-slide--bowerman">Design Story</div>
<% end %>

<div class="button button--light-dark button--right -text--left -border--top js-slide-controller" data-target=".js-slide--fitguide">Size and Fit Guide</div>
<div class="button button--light-dark button--right -text--left -border--top js-slide-controller" data-target=".js-slide--reviews">
    <span>Reviews</span>
    <span class="grey parens margin-left--5">37</span>
    <span class="stars margin-left--10">
        <span class="star icon icon--star is-active"></span>
        <span class="star icon icon--star is-active"></span>
        <span class="star icon icon--star is-active"></span>
        <span class="star icon icon--star is-active"></span>
        <span class="star icon icon--star"></span>
    </span>
</div>
<div class="button button--light-dark button--right -text--left -border--top js-slide-controller" data-target=".js-slide--help">Online Help and Chat</div>

<!-- Gridwall -->
<div class="button button--light-dark -text--left -border--top">Recommended</div>
<ul class="thumbs bordered__element--half -clear">
    <li class="thumbs__item col--6of12 ">
        <img class="image" src="../images/elite/recommended1.jpg" />
        <div class="thumbs__context">
            <div class="thumbs__title h6 h6--dark margin-bottom--5">Nike Air Max</div>
            <div class="p p--detail">$110</div>
        </div>
    </li>
    <li class="thumbs__item col--6of12">
        <img class="image" src="../images/elite/recommended2.jpg" />
        <div class="thumbs__context">
            <div class="thumbs__title h6 h6--dark margin-bottom--5">Nike Flyknit Racer</div>
            <div class="p p--detail">$150 Limited Sizes</div>
        </div>
    </li>
    <li class="thumbs__item col--6of12">
        <img class="image" src="../images/elite/recommended3.jpg" />
        <div class="thumbs__context">
            <div class="thumbs__title h6 h6--dark margin-bottom--5">Nike Free 5.0</div>
            <div class="p p--detail">$110</div>
        </div>
    </li>
    <li class="thumbs__item col--6of12">
        <img class="image" src="../images/elite/recommended4.jpg" />
        <div class="thumbs__context">
            <div class="thumbs__title h6 h6--dark margin-bottom--5">Nike Pegasus 31</div>
            <div class="p p--detail">$150</div>
        </div>
    </li>
</ul>

<!-- Tags -->
<section class="inverted padding--30 padding-top--60">
    <div class="h2 h2--light margin-bottom--40 -text--center">Product Tags</div>
    <ul class="tags">
        <li class="tag h6 h6--light">Volt</li>
        <li class="tag h6 h6--light">Zoom Air</li>
        <li class="tag h6 h6--light">Low Profile</li>
        <li class="tag h6 h6--light">Men&rsquo;s Running</li>
        <li class="tag h6 h6--light">Responsive Cushioning</li>
    </ul>
</section>

<!-- Footer -->
<footer class="inverted padding--30<% if current_page.data.model == "fixed" %> padding-bottom--100<% end %>">
    <div class="-text--center">
        <span class="figure">
            <img class="image--inline" src="../images/flags/us.png" />
        </span>
        <span class="p p--detail">United States</span>
        <span class="pipe margin-left--5 margin-right--5"></span>
        <span class="p p--detail">Privacy Policy</span>
        <span class="pipe margin-left--5 margin-right--5"></span>
        <span class="p p--detail">Terms &amp; Conditions</span>
    </div>
    <div class="padding-top--10 -text--center">
        <div class="p p--detail">&copy; 2014 Nike, Inc. All Rights Reserved</div>
    </div>
</footer>