<!-- Doorway -->
<section class="padding-top--30 padding-bottom--30 -text--center -border--top">
    <div class="h2">Design Story</div>
</section>
<section class="-lineheight--0 js-slide-controller" data-target=".js-slide--bowerman">
    <img class="image" src="../images/elite/bowerman/doorway2.jpg" />
    <div class="padding--30 padding-top--60 padding-bottom--60 -lineheight--reset -text--center">
        <div class="h2 margin-bottom--20">How we made the fast, faster</div>
        <div class="p margin-bottom--20">The Zoom Elite 7 gets put to the test by Nike&rsquo;s own Bowerman Track Club.</div>
        <div class="p p--dark -underline">Get the full story</div>
    </div>
</section>