<!-- Online help slide -->
<div class="slide slide--left js-slide-view js-slide--help">
    <div class="slide__scroll js-slide-scroll">
        <ul class="list padding--30 -position--relative -clear -border--bottom js-slide-close">
            <li class="list__item -position--absolute -lineheight--1 -float--left">
                <span class="slide__close icon"></span>
            </li>
            <li class="list__item -lineheight--1 -text--center">
                <div class="h3 h3--dark">Online Help</div>
            </li>
        </ul>
        <section class="padding--30">
            <div class="h2 margin-bottom--20">Ask a running expert</div>
            <div class="p">Our Nike Running Experts can answer questions about products found on Nike.com, offer expert recommendations and give tips on the gear that&rsquo;s right for your run.</div>
        </section>
        <%= partial "mobile/partials/help-commons" %>
    </div>
</div>

<!-- Size and fit slide -->
<div class="slide slide--left js-slide-view js-slide--fitguide">
    <div class="slide__scroll js-slide-scroll">
        <ul class="list padding--30 -position--relative -clear -border--bottom js-slide-close">
            <li class="list__item -position--absolute -lineheight--1 -float--left">
                <span class="slide__close icon"></span>
            </li>
            <li class="list__item -lineheight--1 -text--center">
                <div class="h3 h3--dark">Size and Fit</div>
            </li>
        </ul>
        <section class="padding--30 padding-top--25 padding-bottom--25 -border--bottom">
            <div class="h2">Men&rsquo;s Shoe Sizing</div>
        </section>

        <section class="padding--30 padding-top--50 padding-bottom--50 -text--left">
            <div class="margin-bottom--50">
                <div class="h3 h3--dark margin-bottom--20">Measure Your Feet</div>
                <div class="p">Wear the type of socks you'll wear with your shoes and measure feet in the afternoon (feet typically swell during the day). Distribute weight evenly before measuring.</div>
            </div>
            <div class="margin-bottom--50">
                <div class="h3 h3--dark margin-bottom--20">Step 1</div>
                <div class="p">Stand up straight on a hard surface with your heel against the wall and a piece of blank paper taped to the floor, flush against the wall beneath your foot.</div>
            </div>
            <div class="margin-bottom--50">
                <div class="h3 h3--dark margin-bottom--20">Step 2</div>
                <div class="p">Have someone mark the longest part of your foot (referred to as heel-to-toe length) on the paper with a pen or pencil, or measure yourself if necessary. Repeat with the other foot, as right and left sizes may be different.</div>
            </div>
            <div>
                <div class="h3 h3--dark margin-bottom--20">Step 3</div>
                <div class="p">Use a ruler to measure the heel-to-toe length you marked for each foot.</div>
            </div>
        </section>
        <section class="-border--top">
            <div class="h3 h3--dark padding--30 padding-bottom--25">Find your size</div>
            <div class="-clear -text--center -trade -font--12 -border--top">
                <div class="col col--2of4 -border--right">
                    <div class="padding-top--25 padding-bottom--25 -bg--grey">Size</div>
                    <div class="padding-top--10 padding-bottom--10">6</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">7</div>
                    <div class="padding-top--10 padding-bottom--10">8</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">9</div>
                    <div class="padding-top--10 padding-bottom--10">10</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">11</div>
                    <div class="padding-top--10 padding-bottom--10">12</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">13</div>
                    <div class="padding-top--10 padding-bottom--10">14</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">15</div>
                    <div class="padding-top--10 padding-bottom--10">16</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">17</div>
                    <div class="padding-top--10 padding-bottom--10">18</div>
                </div>
                <div class="col col--2of4">
                    <div class="padding-top--25 padding-bottom--25 -bg--grey">Heel-to-Toe Length (in.)</div>
                    <div class="padding-top--10 padding-bottom--10">9 3/8</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">9 5/8</div>
                    <div class="padding-top--10 padding-bottom--10">10</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">10 3/8</div>
                    <div class="padding-top--10 padding-bottom--10">10 5/8</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">11</div>
                    <div class="padding-top--10 padding-bottom--10">11 3/8</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">11 5/8</div>
                    <div class="padding-top--10 padding-bottom--10">12</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">12 3/8</div>
                    <div class="padding-top--10 padding-bottom--10">12 5/8</div>
                    <div class="padding-top--10 padding-bottom--10 -bg--grey">13</div>
                    <div class="padding-top--10 padding-bottom--10">13 3/8</div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Reviews slide -->
<div class="slide slide--left js-slide-view js-slide--reviews">
    <div class="slide__scroll js-slide-scroll">
        <ul class="list padding--30 -position--relative -clear -border--bottom js-slide-close">
            <li class="list__item -position--absolute -lineheight--1 -float--left">
                <span class="slide__close icon"></span>
            </li>
            <li class="list__item -lineheight--1 -text--center">
                <div class="h3 h3--dark">Reviews</div>
            </li>
        </ul>
        <section class="padding-top--25 padding-bottom--25 -text--center -border--bottom">
            <span class="p p--dark p--detail">Air Zoom Elite 7</span> <span class="p p--detail parens">37 Reviews</span>
            <span class="stars margin-left--10">
                <span class="star icon icon--star is-active--dark"></span>
                <span class="star icon icon--star is-active--dark"></span>
                <span class="star icon icon--star is-active--dark"></span>
                <span class="star icon icon--star is-active--dark"></span>
                <span class="star icon icon--star"></span>
            </span>
        </section>
        <section class="padding-top--50 padding-bottom--50">
            <div class="-border--bottom">
                <div class="padding-left--30 padding-right--30 padding-bottom--50">
                    <div class="h3 h3--dark margin-bottom--20">Its not pink, its hyperpunch and its awesome</div>
                    <div class="margin-bottom--30 -clear">
                        <div class="col col--2of4 -lineheight--0">
                            <span class="stars">
                                <span class="star icon icon--star is-active--dark"></span>
                                <span class="star icon icon--star is-active--dark"></span>
                                <span class="star icon icon--star is-active--dark"></span>
                                <span class="star icon icon--star is-active--dark"></span>
                                <span class="star icon icon--star"></span>
                            </span>
                        </div>
                        <div class="col col--2of4 -text--right -lineheight--1">
                            <div class="p p--detail">March 1, 2014</div>
                        </div>
                    </div>
                    <div class="p">I purchased this shoe because I have had great experience with zoom elite series. Ive owned zoom elite 5 and zoom elite 6. When I first got the shoe I was displeased with the offset lacing. I did not notice this when I purchased it online. However, this has grown on me and I do not mind it. The lacing is not at all uncomfortable. Shoe is very light, great for running. I purchased a size 11 because that is what I normally wear. I wish I would have bought 10.5 as the shoes I got were large - or my feet shrunk over the past year. The last thing I&rsquo;d like to mention is the pink - or hyper punch. I had severe reservations about buying a shoe with pink on it. (I bought the blue shoes). I have had nothing but compliments on my shoes, from both men and women. The pink has an orangish hue to it so a lot of people think its orange, or at least thats what I tell myself. Its durable, lightweight, and a great running shoe. Do not let the offset lacing and pink deter you from enjoying this fine running shoe.</div>
                </div>
            </div>
            <div class="-border--bottom">
                <div class="padding-left--30 padding-right--30 padding-top--50 padding-bottom--50">
                    <div class="h3 h3--dark margin-bottom--20">Great fast pace training/racing shoe!</div>
                    <div class="margin-bottom--30 -clear">
                        <div class="col col--2of4 -lineheight--0">
                            <span class="stars">
                                <span class="star icon icon--star is-active--dark"></span>
                                <span class="star icon icon--star is-active--dark"></span>
                                <span class="star icon icon--star is-active--dark"></span>
                                <span class="star icon icon--star is-active--dark"></span>
                                <span class="star icon icon--star"></span>
                            </span>
                        </div>
                        <div class="col col--2of4 -text--right -lineheight--1">
                            <div class="p p--detail">March 1, 2014</div>
                        </div>
                    </div>
                    <div class="p">As soon as I put these on and began walking around I could feel the Air Zoom unit in the forefoot propelling me forward! I ran a 7 mile tempo @ 6:10 pace and these shoes felt light and responsive, but still protected my feet, which is exactly what I wanted. Great job Nike! Cant wait to get the Pegasus 31&rsquo;s</div>
                </div>
            </div>
            <div class="padding-left--30 padding-right--30 padding-top--50">
                <div class="h3 h3--dark margin-bottom--20">R-evolving of Running</div>
                <div class="margin-bottom--30 -clear">
                    <div class="col col--2of4 -lineheight--0">
                        <span class="stars">
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star is-active--dark"></span>
                            <span class="star icon icon--star"></span>
                        </span>
                    </div>
                    <div class="col col--2of4 -text--right -lineheight--1">
                        <div class="p p--detail">March 1, 2014</div>
                    </div>
                </div>
                <div class="p">Let&rsquo;s start saying that I&rsquo;ve been waiting for the Zoom Elite 7 at the first after have tried the previews model that I definitely liked and in which I&rsquo;ve hit my PB on a marathon last May going for a sub 2h40&rsquo; results, so they were working already quite good for a moderate fast pace giving me good protection tho I was finding them just a bit too chunky and heavy in the heel, then after the release of the Pegasus where you can see a different more slim shape in the heel area, I started to be very impatient to put my feet in the elite 7 which I was expecting to be similar to the new pegasus but faster and more responsive.</div>
            </div>
        </section>
    </div>
</div>

<!-- Product technology slide -->
<div class="slide slide--left js-slide-view js-slide--tech">
    <div class="slide__scroll js-slide-scroll">
        <ul class="list padding--30 -position--relative -clear -border--bottom js-slide-close">
            <li class="list__item -position--absolute -lineheight--1 -float--left">
                <span class="slide__close icon"></span>
            </li>
            <li class="list__item -lineheight--1 -text--center">
                <div class="h3 h3--dark">Product Technology</div>
            </li>
        </ul>
        <section class="cta -text--center">
            <img class="cta__img image" src="../images/elite/evergreen/egtech1.jpg" />
            <div class="cta__block">
                <div class="valigner">
                    <div class="valigner__cell">
                        <div class="h1 h1--light">Nike Air Zoom</div>
                        <div class="margin-top--20">
                            <div class="cta__play"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="padding--30 padding-bottom--60 -text--left">
            <div class="p">Nike Air Zoom cushioning delivers an ultra responsive ride to help optimize performance by maintaining fast and natural motion.</div>
        </section>
    </div>
</div>

<!-- Product details slide -->
<div class="slide slide--left js-slide-view js-slide--details">
    <div class="slide__scroll js-slide-scroll">
        <ul class="list padding--30 -position--relative -clear -border--bottom js-slide-close">
            <li class="list__item -position--absolute -lineheight--1 -float--left">
                <span class="slide__close icon"></span>
            </li>
            <li class="list__item -lineheight--1 -text--center">
                <div class="h3 h3--dark">Product Details</div>
            </li>
        </ul>
        <%= partial "mobile/partials/elite-details" %>
    </div>
</div>

<!-- Product features slide -->
<div class="slide slide--left js-slide-view js-slide--features">
    <div class="slide__scroll js-slide-scroll">
        <ul class="list padding--30 -position--relative -clear -border--bottom js-slide-close">
            <li class="list__item -position--absolute -lineheight--1 -float--left">
                <span class="slide__close icon"></span>
            </li>
            <li class="list__item -lineheight--1 -text--center">
                <div class="h3 h3--dark">Product Features</div>
            </li>
        </ul>
        <%= partial "mobile/partials/elite-features" %>
    </div>
</div>