<section class="padding-top--10 padding-bottom--20 padding-left--30 padding-right--30 -text--left">
    <div class="h2">Nike Air Zoom Elite 7</div>
    <div class="p">Men&rsquo;s Running Shoe</div>
    <div class="p">$110</div>
</section>