<section class="padding--30 padding-top--50 padding-bottom--50 -text--left<% if current_page.data.model != 'rollup' %> -border--top<% end %>">
    <div class="margin-bottom--50">
        <div class="h2 margin-bottom--20">Best For</div>
        <div class="p">
            <ul class="list">
                <li class="margin-bottom--10">Road Training</li>
                <li class="margin-bottom--10">Road Racing</li>
                <li class="margin-bottom--10">Fast Paced workouts</li>
            </ul>
        </div>
    </div>
    <div class="margin-bottom--50">
        <div class="h2 margin-bottom--20">What&rsquo;s New</div>
        <div class="p">
            <ul class="list">
                <li class="margin-bottom--10">Lower to the ground</li>
                <li class="margin-bottom--10">0.5 ounces lighter</li>
            </ul>
        </div>
    </div>
    <div class="margin-bottom--50">
        <div class="h2 margin-bottom--20">Additional Features</div>
        <div class="p">
            <ul class="list">
                <li class="margin-bottom--10">Ultra-thin outsole adds traction</li>
                <li class="margin-bottom--10">Asymmetrical lacing helps relieve pressure</li>
                <li class="margin-bottom--10">Internal heel counter for a secure fit</li>
                <li class="margin-bottom--10">Rubber crash rail on the outsole for smoother transitions</li>
                <li class="margin-bottom--10">Flex grooves for natural range of motion</li>
            </ul>
        </div>
    </div>
    <div>
        <div class="h2 margin-bottom--20">Specs</div>
        <div class="p">
            <ul class="list">
                <li class="margin-bottom--10">Weight: 9.6 Ounces</li>
                <li class="margin-bottom--10">Offset: 8mm</li>
                <li class="margin-bottom--10">Materials: Bonded Mesh and Synthetic Upper, Foam and Rubber Outsole, Synthetic laces, Nike Zoom cushioning</li>
            </ul>
        </div>
    </div>
</section>