<!-- Filter / Sort -->
<ul class="tabs -clear -border--top">
    <li class="tab p p--dark col col--6of12 padding--20 -float--left -text--center js-modal-controller" data-target=".js-modal--filter">
        <span class="js-filter-count">Filter</span>
    </li>
    <li class="tab p p--dark col col--6of12 padding--20 -float--left -text--center js-modal-controller" data-target=".js-modal--sort">
        <span class="js-sort-context">Sort</span>
    </li>
</ul>

<!-- Tags -->
<div class="tagset js-tags -overtouch">
    <ul class="tagset__list js-tags-list"></ul>
</div>