<div class="padding-top--25 padding-right--30 padding-bottom--25 padding-left--30 -border--top -bg--grey2">
    <div class="p p--dark">1-800-806-6453</div>
    <div class="p">4am - 11pm PT, 7 days a week</div>
</div>
<div class="padding-top--25 padding-right--30 padding-bottom--25 padding-left--30 -border--top -bg--grey2">
    <div class="p p--dark">Schedule a Call</div>
    <div class="p">Setup a time for Nike to contact you.</div>
</div>
<% if current_page.data.model != "pdp-mvp" %>
<div class="padding-top--25 padding-right--30 padding-bottom--25 padding-left--30 -border--top -bg--grey2">
    <div class="p p--dark">Chat with an Expert</div>
    <div class="p">6am - 8pm PT, 7 days a week</div>
</div>
<% end %>
<div class="padding-top--25 padding-right--30 padding-bottom--25 padding-left--30 -border--top -bg--grey2">
    <div class="p p--dark">Email us a Question</div>
    <div class="p">Expect to hear back in 24 hours.</div>
</div>