<!-- Gender links -->
<div class="button button--p button--grey-dark button--right button--right--small -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller js-navi-controller" data-target=".js-slide--doorway-mens">Men&rsquo;s</div>
<div class="button button--p button--grey-dark button--right button--right--small -text--left -border--top padding-top--25 padding-bottom--25">Women&rsquo;s</div>
<div class="button button--p button--grey-dark button--right button--right--small -text--left -border--top padding-top--25 padding-bottom--25">Boys</div>
<div class="button button--p button--grey-dark button--right button--right--small -text--left -border--top padding-top--25 padding-bottom--25">Girls</div>

<!-- Brands -->
<div class="button button--h padding-top--20 padding-bottom--20 -text--left -border--top">Brands</div>
<div class="button button--p button--grey-dark -text--left -border--top padding-top--25 padding-bottom--25"><span>Nike+</span></div>
<div class="button button--p button--grey-dark -text--left -border--top padding-top--25 padding-bottom--25"><span>NikeLab</span></div>
<div class="button button--p button--grey-dark -text--left -border--top padding-top--25 padding-bottom--25"><span>Jordan</span></div>
<div class="button button--p button--grey-dark -text--left -border--top padding-top--25 padding-bottom--25"><span>Hurley</span></div>

<!-- Get Help -->
<div class="button button--h padding-top--20 padding-bottom--20 -text--left -border--top">Get Help</div>
<div class="button button--p button--grey-dark -text--left -border--top padding-top--25 padding-bottom--25">Store Locator</div>
<div class="button button--p button--grey-dark -text--left -border--top padding-top--25 padding-bottom--25">Orders</div>
<div class="button button--p button--grey-dark -text--left -border--top padding-top--25 padding-bottom--25">Shipping + Returns</div>
<div class="button button--p button--grey-dark -text--left -border--top padding-top--25 padding-bottom--25">FAQ</div>

<!-- Contact Us -->
<div class="button button--h padding-top--20 padding-bottom--20 -text--left -border--top">Contact Us</div>
<%= partial "mobile/partials/help-commons" %>

<!-- Company -->
<div class="button button--h padding-top--20 padding-bottom--20 -text--left -border--top">Company</div>
<div class="button button--p button--grey-dark -text--left -border--top padding-top--25 padding-bottom--25">About</div>
<div class="button button--p button--grey-dark -text--left -border--top padding-top--25 padding-bottom--25">News</div>
<div class="button button--p button--grey-dark -text--left -border--top padding-top--25 padding-bottom--25">Community</div>

<!-- Footer light -->
<footer class="padding--30 -border--top">
    <div class="-clear">
        <div class="col col--2of4">
            <span class="figure">
                <img class="image--inline" src="../images/flags/us.png" />
            </span>
            <span class="p p--detail">United States</span>
        </div>
        <div class="col col--2of4 -text--right">
            <span class="p p--detail">Privacy</span>
            <span class="pipe"></span>
            <span class="p p--detail">Terms</span>
        </div>
    </div>
    <div class="padding-top--30 -text--center">
        <div class="p p--detail">&copy; 2014 Nike, Inc. All Rights Reserved</div>
    </div>
</footer>