<header class="header">
    <ul class="list -clear">
        <li class="list__item -lineheight--1 -float--left">
            <div class="p padding-left--30 padding-right--30 padding-top--25 padding-bottom--25">Log In</div>
        </li>
        <li class="list__item -lineheight--1 -float--right">
            <span class="icon icon--cart icon--p padding-left--30 padding-top--25 padding-bottom--25"></span>
            <span class="icon icon--menu icon--p padding-left--30 padding-right--30 padding-top--25 padding-bottom--25 js-navi-close"></span>
        </li>
    </ul>
</header>