<nav class="navi-mobile navi-mobile--5050 js-navi js-navi--5050 js-resize js-position" data-position-x="navi-fullscreen" data-resize="navi-fullscreen">
    <!-- General menu -->
    <div class="navi__home">
        <%= partial "mobile/partials/navi-header-full" %>
        <%= partial "mobile/partials/navi-commons" %>
    </div>

    <!-- 50/50 slide -->
    <div class="slide slide--left -contain js-slide-view js-slide--doorway">
        <%= partial "mobile/partials/navi-slide-header-full" %>
        <div class="slide__view js-resize -border--top -overhidden -clear" data-resize="navi-columns">
            <div class="col col--2of4 -overtouch -overscroll">
                <div class="button button--h-dark button--grey-dark button--after-right -text--left padding-top--25 padding-bottom--25 js-navi-toggle"><span>All</span> <span class="js-slide-label"></span></div>
                <div class="button button--h-dark button--grey-dark button--after-right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-toggle">Sportswear</div>
                <div class="button button--h-dark button--grey-dark button--after-right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-toggle">Running</div>
                <div class="button button--h-dark button--grey-dark button--after-right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-toggle">Basketball</div>
                <div class="button button--h-dark button--grey-dark button--after-right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-toggle">Training</div>
                <div class="button button--h-dark button--grey-dark button--after-right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-toggle">Football</div>
                <div class="button button--h-dark button--grey-dark button--after-right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-toggle">Soccer</div>
                <div class="button button--h-dark button--grey-dark button--after-right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-toggle">Baseball</div>
                <div class="button button--h-dark button--grey-dark button--after-right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-toggle">Skateboarding</div>
                <div class="button button--h-dark button--grey-dark button--after-right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-toggle">Golf</div>
                <div class="button button--h-dark button--grey-dark button--after-right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-toggle">Tennis</div>
                <div class="button button--h-dark button--grey-dark button--after-right -text--left -border--top padding-top--25 padding-bottom--25 js-navi-toggle">More</div>
            </div>
            <div class="col col--2of4 -overtouch -overscroll">
                <div class="navi__fade js-navi-fade">
                    <div class="button button--p button--light-dark -text--left padding-top--25 padding-bottom--10 -font--12 js-navi-destination">What&rsquo;s New</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Seasonal Feature</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Shop All</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Shoes</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Pants</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Shorts</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Base Layer</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Shirts</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Tanks</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Short Sleeve</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Long Sleeve</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Sweatshirts</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Outerwear</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Swimwear</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Accessories</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Equipments</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--10 -font--12 js-navi-destination">Fan Gear</div>
                    <div class="button button--p button--light-dark -text--left padding-top--10 padding-bottom--25 -font--12 js-navi-destination">Clearance</div>
                </div>
            </div>
        </div>
    </div>
</nav>