<ul class="list -clear">
    <li class="list__item col col--4of12 padding-left--30 padding-right--30 padding-top--25 padding-bottom--25 -lineheight--1 js-slide-close">
        <span class="slide__close icon"></span>
    </li>
    <li class="list__item col col--4of12 padding-top--25 padding-bottom--25 -lineheight--1 -text--center">
        <div class="h3 h3--dark js-slide-label"></div>
    </li>
    <li class="list__item col col--4of12 padding-left--30 padding-right--30 padding-top--25 padding-bottom--25 -lineheight--1 -text--right js-navi-close">
        <span class="icon icon--menu icon--p"></span>
    </li>
</ul>