<header class="header header--mobile js-header--mobile">
    <ul class="list -clear">
        <li class="list__item -lineheight--1 -float--left">
            <a href="index.html" class="icon icon--swoosh padding--30"></a>
        </li>
        <li class="list__item -lineheight--1 -float--right">
            <span class="icon icon--search padding-left--30 padding-top--30 padding-bottom--30"></span>
            <span class="icon icon--menu padding--30 js-slide-controller" data-target=".js-navi--tunnel"></span>
        </li>
    </ul>
</header>