<footer class="footer footer--full js-footer--full">
    <div class="padding-left--50 padding-right--50 padding-top--40 padding-bottom--40 -clear -border--bottom -border--ondark">
        <div class="col col--4of12 -text--left">
            <div class="h2 -light -font--16">Orders</div>
        </div>
        <div class="col col--4of12 -text--center">
            <div class="h2 -light -font--16">Stores</div>
        </div>
        <div class="col col--4of12 -text--right">
            <div class="h2 -light -font--16">Help</div>
        </div>
    </div>
    <div class="padding--30 -clear -text--center">
        <ul class="list list--inline">
            <li class="list--inline__item">
                <span class="figure">
                    <img class="image--inline" src="../images/flags/us.png" />
                </span>
            </li>
            <li class="list--inline__item margin-left--10 p p--grey-dark -font--10">United States</li>
            <li class="list--inline__item margin-left--10 p p--grey-dark -font--10">&copy; 2015 Nike, Inc. All Rights Reserved.</li>
        </ul>
        <ul class="list list--inline">
            <li class="list--inline__item"><a href="#" class="p p--grey-dark -font--10">Guides</a></li>
            <li class="list--inline__item margin-left--10 margin-right--10"><span class="pipe"></span></li>
            <li class="list--inline__item"><a href="#" class="p p--grey-dark -font--10">Terms &amp; Conditions</a></li>
            <li class="list--inline__item margin-left--10 margin-right--10"><span class="pipe"></span></li>
            <li class="list--inline__item"><a href="#" class="p p--grey-dark -font--10">Privacy Policy</a></li>
        </ul>
    </div>
</footer>