<div class="modal js-modal-view js-modal--size">
<!--
    <div class="modal__navi padding--10 -border--bottom">
        <ul class="list -clear">
            <li class="list__item -lineheight--1 -float--right">
                <span class="modal__close icon js-modal-close"></span>
            </li>
        </ul>
    </div>
-->
    <div class="modal__view">
        <div class="padding--30 -text--center">
            <div class="h3 h3--dark">Choose Size <span class="parens">Men&rsquo;s</span></div>
        </div>
        <ul class="sizes -clear -border--top">
            <li class="sizes__item js-modal-close js-modal-action">3.5</li>
            <li class="sizes__item js-modal-close js-modal-action">4</li>
            <li class="sizes__item js-modal-close js-modal-action">4.5</li>
            <li class="sizes__item js-modal-close js-modal-action">5</li>
            <li class="sizes__item js-modal-close js-modal-action">5.5</li>
            <li class="sizes__item js-modal-close js-modal-action">6</li>
            <li class="sizes__item js-modal-close js-modal-action">6.5</li>
            <li class="sizes__item js-modal-close js-modal-action">7</li>
            <li class="sizes__item js-modal-close js-modal-action">7.5</li>
            <li class="sizes__item js-modal-close js-modal-action">8</li>
            <li class="sizes__item js-modal-close js-modal-action">8.5</li>
            <li class="sizes__item js-modal-close js-modal-action">9</li>
            <li class="sizes__item js-modal-close js-modal-action">9.5</li>
            <li class="sizes__item js-modal-close js-modal-action">10</li>
            <li class="sizes__item js-modal-close js-modal-action">10.5</li>
            <li class="sizes__item js-modal-close js-modal-action">11</li>
            <li class="sizes__item js-modal-close js-modal-action">11.5</li>
            <li class="sizes__item js-modal-close js-modal-action">12</li>
            <li class="sizes__item js-modal-close js-modal-action">12.5</li>
            <li class="sizes__item js-modal-close js-modal-action">13</li>
            <li class="sizes__item js-modal-close js-modal-action">14</li>
            <li class="sizes__item js-modal-close js-modal-action">15</li>
        </ul>
    </div>
</div>
<div class="slide slide--bottom js-slide-view js-slide--size">
    <div class="slide__navi padding--10 -border--bottom">
        <ul class="list -clear">
            <li class="list__item -lineheight--1 -float--right">
                <span class="slide__close icon js-slide-close"></span>
            </li>
        </ul>
    </div>
    <div class="slide__view">
        <div class="padding--30 -text--center">
            <div class="h3 h3--dark">Choose Size <span class="parens">Men&rsquo;s</span></div>
        </div>
        <ul class="sizes -clear -border--top">
            <li class="sizes__item js-slide-close js-slide-action">3.5</li>
            <li class="sizes__item js-slide-close js-slide-action">4</li>
            <li class="sizes__item js-slide-close js-slide-action">4.5</li>
            <li class="sizes__item js-slide-close js-slide-action">5</li>
            <li class="sizes__item js-slide-close js-slide-action">5.5</li>
            <li class="sizes__item js-slide-close js-slide-action">6</li>
            <li class="sizes__item js-slide-close js-slide-action">6.5</li>
            <li class="sizes__item js-slide-close js-slide-action">7</li>
            <li class="sizes__item js-slide-close js-slide-action">7.5</li>
            <li class="sizes__item js-slide-close js-slide-action">8</li>
            <li class="sizes__item js-slide-close js-slide-action">8.5</li>
            <li class="sizes__item js-slide-close js-slide-action">9</li>
            <li class="sizes__item js-slide-close js-slide-action">9.5</li>
            <li class="sizes__item js-slide-close js-slide-action">10</li>
            <li class="sizes__item js-slide-close js-slide-action">10.5</li>
            <li class="sizes__item js-slide-close js-slide-action">11</li>
            <li class="sizes__item js-slide-close js-slide-action">11.5</li>
            <li class="sizes__item js-slide-close js-slide-action">12</li>
            <li class="sizes__item js-slide-close js-slide-action">12.5</li>
            <li class="sizes__item js-slide-close js-slide-action">13</li>
            <li class="sizes__item js-slide-close js-slide-action">14</li>
            <li class="sizes__item js-slide-close js-slide-action">15</li>
        </ul>
    </div>
</div>