<!-- Slide -->
<div class="slide slide--bottom slide--bottom--6 js-slide-view js-slide--size">
    <div class="slide__navi padding--10 -border--bottom">
        <ul class="list -clear">
            <li class="list__item -lineheight--1 -float--right">
                <span class="slide__close icon js-slide-close"></span>
            </li>
        </ul>
    </div>
    <div class="slide__view">
        <div class="padding--30 -text--center">
            <div class="h3 h3--dark">Choose Size <span class="parens">Men&rsquo;s</span></div>
        </div>
        <ul class="sizes -clear -border--top">
            <li class="sizes__item js-slide-close js-slide-action">XS</li>
            <li class="sizes__item js-slide-close js-slide-action">S</li>
            <li class="sizes__item js-slide-close js-slide-action">M</li>
            <li class="sizes__item js-slide-close js-slide-action">L</li>
            <li class="sizes__item js-slide-close js-slide-action">XL</li>
        </ul>
    </div>
</div>