<div class="slide slide--left js-slide-view js-slide--elite">
    <div class="slide__navi padding--30">
        <ul class="list -clear">
            <li class="list__item -position--absolute -lineheight--1 -float--left">
                <span class="slide__close icon js-slide-close"></span>
            </li>
            <li class="list__item -lineheight--1 -text--center">
                <div class="h3 h3--dark">Nike Zoom Elite 7</div>
            </li>
        </ul>
    </div>
    <div class="slide__view">
        <section class="cta elite js-set-height">
            <img class="cta__img image" src="../images/elite/elitestory.jpg" />
            <div class="cta__block">
                <div class="-position--absolute -text--center" style="top:4.584527%;padding-left:9.375%;padding-right:9.375%;">
                    <div class="h4">Keep up with the Elite</div>
                </div>
                <div class="-position--absolute -text--center" style="top:36.103152%;padding-left:18.75%;padding-right:18.75%;">
                    <div class="h5 h5--light margin-bottom--20">Nike Zoom Air Unit</div>
                    <div class="p p--light">Nike Zoom Air unit in the forefoot delivers highly responsive cushioning.</div>
                </div>
                <div class="-position--absolute -text--right" style="top:64.297994%;padding-right:12.5%;">
                    <div class="h5 h5--light margin-bottom--20">Engineered Upper</div>
                    <div class="p p--light" style="padding-left:31.25%;">Lightweight mesh upper with Flywire provides breathable support.</div>
                </div>
                <div class="-position--absolute -text--left" style="top:77.707736%;padding-left:71.875%;padding-right:9.375%;">
                    <div class="h6 h6--light">Lower 8mm Offset</div>
                </div>
                <div class="-position--absolute -text--left" style="top:84.412607%;padding-left:71.875%;padding-right:9.375%;">
                    <div class="h6 h6--light">Ultra-Thin Outsole</div>
                </div>
                <div class="-position--absolute -text--left" style="top:88.767908%;padding-left:12.5%;">
                    <div class="h5 h5--light margin-bottom--20" style="padding-right:31.25%;">Highly Responsive Cushioning</div>
                    <div class="p p--light" style="padding-right:37.5%;">Lightweight mesh upper with Flywire provides breathable support.</div>
                </div>
            </div>
        </section>
        <section class="cta">
            <img class="cta__img image" src="../images/elite/bluesky.jpg" />
            <div class="cta__block">
                <div class="cta__context top--40 -text--center">
                    <div class="cta__title h4">Bowerman Track Club</div>
                </div>
                <div class="cta__context bottom--40 -text--center">
                    <div class="cta__link">Meet the Elite Track Club</div>
                </div>
            </div>
        </section>
    </div>
    <div class="slide__navi inverted padding--30">
        <ul class="list -clear">
            <li class="list__item -position--absolute -lineheight--1 -float--left">
                <span class="slide__close icon js-slide-close"></span>
            </li>
            <li class="list__item -lineheight--1 -text--center">
                <div class="h3">Nike Zoom Elite 7</div>
            </li>
        </ul>
    </div>
</div>