<!-- P1 -->
<section class="cta">
    <img class="cta__img image" src="../images/elite/bowerman/btc1.jpg" />
    <div class="cta__block">
        <div class="cta__context cta__context--p1 -text--center">
            <div class="h4 margin-bottom--20">How we made the fast, faster</div>
            <div class="p p--light">The design story behind the Nike Zoom Elite 7</div>
        </div>
    </div>
</section>

<!-- Text -->
<section class="padding--30 padding-top--60 padding-bottom--60 -text--center">
    <div class="h1 margin-bottom--20">Fast Has an Address</div>
    <div class="p">Welcome to One Bowerman Drive in Beaverton, Oregon. This is home to Nike&rsquo;s World Headquarters and some of the fastest athletes on the planet. It&rsaquo;s here where Bowerman Track Club pushes one another (and our footwear) to the limit.</div>
</section>

<!-- Image -->
<section class="figure">
    <img class="image" src="../images/elite/bowerman/btc2.jpg" />
</section>

<!-- Text -->
<section class="padding--30 padding-top--60 padding-bottom--60 -text--center">
    <div class="h1 margin-bottom--20">Another Day <div>at the Office</div></div>
    <div class="p">Within feet of Nike&rsquo;s research labs and design studios, the elite train in the same shoes they help develop.</div>
</section>

<!-- Image -->
<section class="figure">
    <img class="image" src="../images/elite/bowerman/btc3.jpg" />
</section>

<!-- Quote -->
<section class="inverted padding--30 padding-top--60 padding-bottom--60 -text--center">
    <div class="h1 margin-bottom--20">&ldquo;We&rsquo;re personally invested. From start to finish. In many ways, our careers depend on it.&rdquo;</div>
    <div class="p">Evan Jager, <div>American Record holder</div></div>
</section>

<!-- Image -->
<section class="figure">
    <img class="image" src="../images/elite/bowerman/btc4.jpg" />
</section>

<!-- Quote -->
<section class="inverted padding--30 padding-top--60 padding-bottom--60 -text--center">
    <div class="h1 margin-bottom--20">&ldquo;WE PUT THOUSANDS OF MILES ON A SHOE. EVERY LITTLE THING IS IMPORTANT.&rdquo;</div>
    <div class="p">Lopez Lomong, <div>Four-Time American Champion</div></div>
</section>

<!-- Tech -->
<section class="cta -text--center">
    <img class="cta__img image" src="../images/elite/bowerman/btctech.jpg" />
    <div class="cta__block">
        <div class="valigner">
            <div class="valigner__cell">
                <div class="p p--light">The Zoom Elite Series</div>
                <div class="h1 h1--light">Designed for Speed</div>
                <div class="margin-top--20">
                    <div class="cta__play"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product -->
<section class="padding--30 padding-top--60 padding-bottom--60 -text--center">
    <div class="h1 margin-bottom--20">The Final Product</div>
    <div class="p">Speed has, and always will, dictate the final product in the Zoom Elite series. That&rsquo;s why our designers asked for this group by name. Fast is in their job description.</div>
</section>
<section class="stat padding-bottom--30 -text--center">
    <div class="stat__value">22,933</div>
    <div class="stat__context h3">Miles Logged</div>
</section>
<section class="stat padding-bottom--30 -text--center">
    <div class="stat__value">116</div>
    <div class="stat__context h3">Pairs Trialed</div>
</section>
<section class="stat padding-bottom--60 -text--center">
    <div class="stat__value">6</div>
    <div class="stat__context h3">Outsoles Tested</div>
</section>

<!-- Buy option
<section class="cta">
    <img class="cta__img image" src="../images/elite/bowerman/btc5.jpg" />
    <div class="cta__block">
        <div class="h1 top--60 -text--center -position--absolute">Nike Zoom Elite 7</div>
        <section class="padding--30 bottom--0 -position--absolute">
            <div class="button">Shop it Now</div>
        </section>
    </div>
</section>-->

<!-- Gridwall -->
<section class="padding-top--30 padding-bottom--30 -text--center -border--top">
    <div class="h2">Shop the Elite 7</div>
</section>
<ul class="thumbs bordered__element--half -clear">
    <li class="thumbs__item col--6of12 js-reload">
        <img class="image" src="../images/elite/mens-elite7.jpg" />
        <div class="thumbs__context">
            <div class="thumbs__title h6 h6--dark margin-bottom--5">Nike Air Zoom Elite 7</div>
            <div class="p p--detail margin-bottom--5">Men&rsquo;s Running Shoe</div>
            <div class="p p--detail">$110</div>
        </div>
    </li>
    <li class="thumbs__item col--6of12 js-reload">
        <img class="image" src="../images/elite/womens-elite7.jpg" />
        <div class="thumbs__context">
            <div class="thumbs__title h6 h6--dark margin-bottom--5">Nike Air Zoom Elite 7</div>
            <div class="p p--detail margin-bottom--5">Women&rsquo;s Running Shoe</div>
            <div class="p p--detail">$110</div>
        </div>
    </li>
</ul>

<!-- Return -->
<ul class="inverted list padding--30 -position--relative -clear js-slide-close">
    <li class="list__item -position--absolute -lineheight--1 -float--left">
        <span class="slide__close icon"></span>
    </li>
    <li class="list__item -lineheight--1 -text--center">
        <div class="h3 h3--dark">Nike Zoom Elite 7</div>
    </li>
</ul>