<footer class="footer footer--full js-footer--full">
    <div class="footer--full__main container container--padd -clear">
        <div class="footer--full__list list--inline -clear -text--center">
            <div class="footer--full__col list--inline__item col--1of5 -text--left -vertical--top">
                <div class="footer--full__h2">Get help</div>
                <a href="#" class="footer--full__link">Find a Store</a>
                <a href="#" class="footer--full__link">Order Status</a>
                <a href="#" class="footer--full__link">Shipping</a>
                <a href="#" class="footer--full__link">Returns</a>
                <a href="#" class="footer--full__link">Payment Options</a>
                <a href="#" class="footer--full__link">FAQ</a>
                <a href="#" class="footer--full__link">Contact Us</a>
            </div>
            <div class="footer--full__col list--inline__item col--2of12 -text--left -vertical--top">
                <div class="footer--full__h2">About Nike</div>
                <a href="#" class="footer--full__link">News</a>
                <a href="#" class="footer--full__link">Careers</a>
                <a href="#" class="footer--full__link">Investors</a>
                <a href="#" class="footer--full__link">Supply Chain</a>
                <a href="#" class="footer--full__link">Nike Better World</a>
            </div>
            <div class="footer--full__col list--inline__item col--2of12 -text--left -vertical--top">
                <div class="footer--full__h2">Brands</div>
                <a href="#" class="footer--full__link">Jordan</a>
                <a href="#" class="footer--full__link">Hurley</a>
                <a href="#" class="footer--full__link">Converse</a>
            </div>
            <div class="footer--full__col list--inline__item col--2of12 -text--left -vertical--top">
                <div class="footer--full__h2">Social</div>
                <a href="#" class="footer--full__link">Twitter</a>
                <a href="#" class="footer--full__link">Facebook</a>
                <a href="#" class="footer--full__link">YouTube</a>
                <a href="#" class="footer--full__link">Instagram</a>
            </div>
            <div class="footer--full__col list--inline__item col--1of5 -text--left -vertical--top">
                <a href="#" class="footer--full__h2">Get a gift card</a>
                <a href="#" class="footer--full__h2">Email signup</a>
                <a href="#" class="footer--full__h2">Become a member</a>
            </div>
        </div>
    </div>
    <div class="footer--full__aside container container--wide padding-top--20 padding-bottom--20 -clear">
        <ul class="list list--inline -float--left">
            <li class="list--inline__item">
                <span class="figure">
                    <img class="image--inline" src="../images/flags/us.png" />
                </span>
            </li>
            <li class="list--inline__item margin-left--10 p p--grey-dark -font--10">United States</li>
            <li class="list--inline__item margin-left--10 p p--grey-dark -font--10">&copy; 2015 Nike, Inc. All Rights Reserved.</li>
        </ul>
        <ul class="list list--inline -float--right">
            <li class="list--inline__item"><a href="#" class="p p--grey-dark -font--10">Guides</a></li>
            <li class="list--inline__item margin-left--10 margin-right--10"><span class="pipe"></span></li>
            <li class="list--inline__item"><a href="#" class="p p--grey-dark -font--10">Terms &amp; Conditions</a></li>
            <li class="list--inline__item margin-left--10 margin-right--10"><span class="pipe"></span></li>
            <li class="list--inline__item"><a href="#" class="p p--grey-dark -font--10">Privacy Policy</a></li>
        </ul>
    </div>
</footer>