---
title: Nike Vision Prototype
model: homepage
---
<%= partial "partials/data-gridwall" %>
<section class="p1 p1--full p1--home -cover js-lazy-image js-resize" data-resize="p1--desktop" data-img-src="../../images/home/p1-mens.jpg">
    <div class="valigner">
        <div class="valigner__cell">
            <div class="p1__main">
                <div class="h1 h1--p1">Nike Gift Guide</div>
                <div class="p margin-top--20 margin-bottom--30">Always give your best with our top gifts for men.</div>
                <div class="button button--inline button--light-dark -font--15">Shop Now</div>
            </div>
        </div>
    </div>
</section>