---
title: Nike Vision Prototype
model: kobe
---
<%= partial "partials/data-gridwall" %>

<!-- Header -->
<div class="padding-top--5 padding-bottom--30 padding-left--30 padding-right--30 -text--center">
    <div class="h2 margin-bottom--5">Kobe X</div>
    <div class="p"><span class="span">Men&rsquo;s Basketball Shoe</span><span class="span currency margin-left--5 -dark">180</span></div>
</div>

<!-- Video -->
<div class="button -bg--black">
    <div class="h2 -light">The Art of Attack</div>
</div>
<a href="../video/kobex.mp4" class="a--block js-cdp-top -bg--black">
    <div class="cta -text--center">
        <div class="cta__img image image--box js-lazy-image -cover" data-img-src="../images/kobe/cdp.jpg"></div>
        <div class="cta__block">
            <div class="valigner">
                <div class="valigner__cell">
                    <div class="cta__play"></div>
                    <div class="cta__meta grey -trade -font--12">1:58</div>
                </div>
            </div>
        </div>
    </div>
    <div class="padding--30 padding-bottom--40 padding-top--40 -text--center -bg--black">
        <div class="p">Ten Kobe X symbols have fueled Kobe&rsquo;s fire for a lifetime. Their stories embody his inspiring competitive spirit and capture his precise and strategic approach to the game.</div>
    </div>
</a>

<!-- Features -->
<div class="-bg--black">
    <div class="button button--light-dark -bg--black -border--top -border--ondark">
        <div class="h2 -light">Features</div>
    </div>
    <div class="image image--box js-lazy-image -cover -cover--bottom" data-img-src="../images/kobe/feature-traction.jpg"></div>
    <div class="padding--30 padding-bottom--40 padding-top--40 -text--center -bg--black">
        <div class="h3 h3--dark margin-bottom--10 -light">Extreme Traction</div>
        <div class="p">The translucent rubber outsole features a new and unique traction pattern for enhanced grip while cutting and sprinting.</div>
    </div>
    <div class="image image--box js-lazy-image -cover -cover--bottom" data-img-src="../images/kobe/feature-strength.jpg"></div>
    <div class="padding--30 padding-bottom--40 padding-top--40 -text--center -bg--black">
        <div class="h3 h3--dark margin-bottom--10 -light">Strength</div>
        <div class="p">A translucent textile upper offers lightweight durability for long-lasting wear.</div>
    </div>
    
    <div class="image image--box js-lazy-image -cover -cover--bottom" data-img-src="../images/kobe/feature-response.jpg"></div>
    <div class="padding--30 padding-bottom--40 padding-top--40 -text--center -bg--black">
        <div class="h3 h3--dark margin-bottom--10 -light">Quick Response</div>
        <div class="p">A carbon fiber shank increases the shoe&rsquo;s responsiveness.</div>
    </div>
</div>

<!-- Carousel -->
<div class="swiper js-swiper">
    <ul class="swiper__collection js-swiper-collection -clear">
        <li class="swiper__collection__item js-swiper-collection-item js-lazy-swiper js-zoomin -cover -cover--bottom" data-prefix="kobex" data-colorway="blue" data-view="right" data-img-src="../images/kobe/carousel/kobex-blue-right.jpg" data-zoom-src="../images/kobe/carousel/zoom/kobex-blue-right.jpg"></li>
        <li class="swiper__collection__item js-swiper-collection-item js-lazy-swiper js-zoomin -cover -cover--bottom" data-prefix="kobex" data-colorway="blue" data-view="side" data-img-src="../images/kobe/carousel/kobex-blue-side.jpg" data-zoom-src="../images/kobe/carousel/zoom/kobex-blue-side.jpg"></li>
        <li class="swiper__collection__item js-swiper-collection-item js-lazy-swiper js-zoomin -cover -cover--bottom" data-prefix="kobex" data-colorway="blue" data-view="angle" data-img-src="../images/kobe/carousel/kobex-blue-angle.jpg" data-zoom-src="../images/kobe/carousel/zoom/kobex-blue-angle.jpg"></li>
        <li class="swiper__collection__item js-swiper-collection-item js-lazy-swiper js-zoomin -cover -cover--bottom" data-prefix="kobex" data-colorway="blue" data-view="back" data-img-src="../images/kobe/carousel/kobex-blue-back.jpg" data-zoom-src="../images/kobe/carousel/zoom/kobex-blue-back.jpg"></li>
        <li class="swiper__collection__item js-swiper-collection-item js-lazy-swiper js-zoomin -cover -cover--bottom" data-prefix="kobex" data-colorway="blue" data-view="bottom" data-img-src="../images/kobe/carousel/kobex-blue-bottom.jpg" data-zoom-src="../images/kobe/carousel/zoom/kobex-blue-bottom.jpg"></li>
        <li class="swiper__collection__item js-swiper-collection-item js-lazy-swiper js-zoomin -cover -cover--bottom" data-prefix="kobex" data-colorway="blue" data-view="top" data-img-src="../images/kobe/carousel/kobex-blue-top.jpg" data-zoom-src="../images/kobe/carousel/zoom/kobex-blue-top.jpg"></li>
        <li class="swiper__collection__item js-swiper-collection-item js-lazy-swiper js-ugc -cover -cover--bottom" data-prefix="kobex" data-colorway="blue" data-view="ugc" data-img-src="../images/kobe/carousel/kobex-blue-ugc.jpg"></li>
    </ul>
    <ul class="swiper__indicators swiper__indicators--thumbed js-swiper-indicators">
        <li class="swiper__indicators__item js-swiper-indicator-item"></li>
        <li class="swiper__indicators__item js-swiper-indicator-item"></li>
        <li class="swiper__indicators__item js-swiper-indicator-item"></li>
        <li class="swiper__indicators__item js-swiper-indicator-item"></li>
        <li class="swiper__indicators__item js-swiper-indicator-item"></li>
        <li class="swiper__indicators__item js-swiper-indicator-item"></li>
        <li class="swiper__indicators__item js-swiper-indicator-item"></li>
    </ul>
    <!-- swiper__thumbnails-wrapper--iteminfo -->
    <div class="swiper__thumbnails-wrapper -overtouch">
        <ul class="swiper__thumbnails js-swiper-thumbnails js-resize -clear" data-resize="belt">
            <li class="swiper__thumbnails__item js-swiper-thumbnails-item js-lazy-thumbnail -cover -cover--top is-soon" data-colorway="green" data-img-src="../images/kobe/carousel/kobex-thumb-green.jpg"></li>
            <li class="swiper__thumbnails__item js-swiper-thumbnails-item js-lazy-thumbnail -cover -cover--top" data-colorway="orange" data-img-src="../images/kobe/carousel/kobex-thumb-orange.jpg"></li>
            <li class="swiper__thumbnails__item js-swiper-thumbnails-item js-lazy-thumbnail -cover -cover--top is-out" data-colorway="purple" data-img-src="../images/kobe/carousel/kobex-thumb-purple.jpg"></li>
            <li class="swiper__thumbnails__item js-swiper-thumbnails-item js-lazy-thumbnail -cover -cover--top" data-colorway="blue" data-img-src="../images/kobe/carousel/kobex-thumb-blue.jpg"></li>
            <li class="swiper__thumbnails__item nikeid -text--center">
                <div class="valigner">
                    <div class="valigner__cell">
                        <div class="figure">
                            <img class="margin-bottom--20" width="30" src="../images/ui/color-wheel.png" />
                        </div>
                        <div class="h3 h3--dark">Customize<br />with Nike<span class="-lowercase">i</span>D</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Zoompane -->
<div class="zoompane js-zoompane">
    <div class="icon icon--close zoomicon zoomicon--close js-zoomclose" data-clickable="true"></div>
</div>

<!-- Colorway -->
<div class="padding-left--30 padding-top--30 padding-right--30 -text--center">
    <div class="p p--detail">Blue Lagoon / Vapor Green / Black</div>
    <div class="p p--detail">Style: 705317-403</div>
</div>

<!-- Description -->
<div class="padding--30 padding-bottom--40 -text--center -border--bottom">
    <div class="h1 margin-bottom--20">Strike with Precision</div>
    <div class="p margin-bottom--20">With The Kobe X Men&rsquo;s Basketball Shoe, speed &amp; precision become one. Improved traction and more flexible cushioning help you capture the game.</div>

    <!-- Best For -->
    <div class="p p--dark">Best For:</div>
    <div class="p">Indoor and Outdoor, Speed</div>
</div>

<!-- Buy Tools -->
<div class="padding-left--30 padding-right--30 js-buy-top">
    <div class="a a--block padding-top--30 padding-bottom--30 js-slide-controller -text--center" data-target=".js-slide--fitguide">Size Guide</div>
    <div class="select-native js-select-native js-select-native--size">
        <div class="select-native__shim button button--light-dark js-select-native-shim"><span>Size</span><span class="margin-left--5 js-select-native-value"></span><span class="margin-left--5 icon icon--arrow-down -font--6"></span></div>
        <!-- data-check-target=".js-select-native--width" -->
        <select class="select-native__menu button button--select margin-bottom--20 -border -border--dark js-select-native-menu">
            <option value="" selected></option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
            <option value="5.5">5.5</option>
            <option value="6">6</option>
            <option value="6.5">6.5</option>
            <option value="7">7</option>
            <option value="7.5">7.5</option>
            <option value="8">8</option>
            <option value="8.5">8.5</option>
            <option value="9">9</option>
            <option value="9.5">9.5</option>
            <option value="10">10</option>
            <option value="10.5">10.5</option>
            <option value="11">11</option>
            <option value="11.5">11.5</option>
            <option value="12">12</option>
            <option value="12.5">12.5</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
        </select>
    </div>
    <div class="button js-notify" data-check-target=".js-select-native--size > .js-select-native-menu" data-action="cart" data-notification="<span class='span circle circle--small margin-right--10'><span class='icon icon--checkmark'></span></span><span class='span'>Added to Cart</span><span class='span margin-left--10 parens'>View</span>"><span>Buy</span><span class="margin-left--5 currency">180</span></div>
</div>

<!-- Shipping -->
<div class="padding-left--30 padding-right--30 padding-top--30 -text--center js-show-sticky-buy">
    <div class="p p--detail">Get free shipping on orders of $75.<div>Register for free returns. <a class="a a--inline js-modal-controller" data-target=".js-modal--ship" href="#">See Details</a></div></div>
</div>

<!-- Social -->
<div class="padding-top--5 padding-bottom--5 -clear -border--bottom">
    <div class="col col--4of12">
        <div class="button button--light-clean -text--right js-heart">
            <span class="icon icon--heart -font--20 -grey-light"></span>
        </div>
    </div>
    <div class="col col--4of12">
        <div class="button button--light-clean -text--center">
            <span class="icon icon--email-legacy -font--17 -grey-light"></span>
        </div>
    </div>
    <div class="col col--4of12">
        <div class="button button--light-clean -text--left js-modal-controller" data-target=".js-modal--share">
            <span class="icon icon--share -font--20 -grey-light"></span>
        </div>
    </div>
</div>

<!-- Doorways -->
<div class="button button--light-dark button--right button--right--small -text--left -border--top js-slide-controller" data-target=".js-slide--ugc">#Kobex</div>
<div class="button button--light-dark button--right button--right--small -text--left -border--top js-slide-controller" data-target=".js-slide--benefits">Additional Benefits</div>
<div class="button button--light-dark button--right button--right--small -text--left -border--top js-slide-controller" data-target=".js-slide--tech">Featured Technology</div>
<div class="button button--light-dark button--right button--right--small -text--left -border--top js-slide-controller" data-target=".js-slide--reviews">
    <span>Reviews</span>
    <span class="grey parens margin-left--5">11</span>
    <span class="stars margin-left--10">
        <span class="star icon icon--star is-active is-active--dark"></span>
        <span class="star icon icon--star is-active is-active--dark"></span>
        <span class="star icon icon--star is-active is-active--dark"></span>
        <span class="star icon icon--star is-active is-active--dark"></span>
        <span class="star icon icon--star"></span>
    </span>
</div>
<div class="button button--light-dark button--right button--right--small -text--left -border--top js-slide-controller" data-target=".js-slide--help">Help and Support</div>

<!-- Discover -->
<div class="button button--light-dark -text--center -border--top">
    <div class="h2">Related</div>
</div>
<div class="features js-features container container--wide padding-top--60 padding-bottom--60">
    <div class="features__list list list--inline js-features-list -clear">
        <div class="feature feature--full list--inline__item js-feature -btn">
            <div class="image--box -cover js-lazy-image" data-img-src="../images/kobe/related/related01.jpg"></div>
        </div>
        <div class="feature feature--half list--inline__item js-feature -btn">
            <div class="image--box -cover js-lazy-image" data-img-src="../images/kobe/related/related02.jpg"></div>
            <div class="image--box -cover js-lazy-image" data-img-src="../images/kobe/related/related03.jpg"></div>
        </div>
        <div class="feature feature--full list--inline__item js-feature -btn -clear">
            <div class="image--box-cutter col -cover js-lazy-image" data-img-src="../images/kobe/related/related04.jpg"></div>
            <div class="image--box-cutter col col--2of4 -cover js-lazy-image" data-img-src="../images/kobe/related/related05.jpg"></div>
            <div class="image--box-cutter col col--2of4 -cover js-lazy-image" data-img-src="../images/kobe/related/related06.jpg"></div>
        </div>
    </div>
</div>

<!-- Tags -->
<section class="padding--30 padding-top--40 padding-bottom--30 -border -bg--grey-light">
    <ul class="tags">
        <li class="tag tag--light h6">Kobe X</li>
        <li class="tag tag--light h6">Basketball</li>
        <li class="tag tag--light h6">Zoom</li>
        <li class="tag tag--light h6">Lunarlon</li>
    </ul>
</section>

<!-- Sticky -->
<div class="button button--sticky button--sticky--top button--sticky--twos js-sticky" data-target=".js-buy-top">
    <span class="button--sticky__text">Add to Cart $180</span>
    <span class="button--sticky__icon icon icon--heart -float--right -grey-light -bg--grey"></span>
</div>

<%= partial "pdp/partials/pdp-kobe-doorways" %>