---
title: Nike Vision Prototype
model: homepage
---
<%= partial "partials/data-gridwall" %>
<section class="carousel p1 p1--full p1--home js-carousel">
    <ul class="carousel__collection js-carousel-collection js-resize" data-resize="p1--desktop" data-resize-small="p1--mobile">
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover" data-img-src="../images/home/p1-mens-kobe.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover" data-img-src="../images/home/p1-mens-kobe.jpg"></li>
        <li class="carousel__collection__item js-carousel-collection-item js-lazy-image -cover" data-img-src="../images/home/p1-mens-kobe.jpg"></li>
    </ul>
    <ul class="carousel__indicators carousel__indicators--pulled js-carousel-indicators">
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
        <li class="carousel__indicators__item js-carousel-indicator-item"></li>
    </ul>
    <ul class="carousel__pullout js-carousel-pullout">
        <li class="carousel__pullout__item padding--30 padding-bottom--60 js-carousel-pullout-item">
            <div class="valigner p1__main">
                <div class="valigner__cell">
                    <div class="h1 h1--p1 -light -dark--small">The Art of the Attack</div>
                    <div class="p margin-top--20 margin-bottom--20 -light -grey--small">Strike with precision in the Kobe X. Available 2/7.</div>
                    <a href="kobe-pdp.html" class="button button--inline button--light-dark">Learn More</a>
                </div>
            </div>
        </li>
        <li class="carousel__pullout__item padding--30 padding-bottom--60 js-carousel-pullout-item">
            <div class="valigner p1__main">
                <div class="valigner__cell">
                    <div class="h1 h1--p1 -light -dark--small">The Art of the Attack</div>
                    <div class="p margin-top--20 margin-bottom--20 -light -grey--small">Strike with precision in the Kobe X. Available 2/7.</div>
                    <div class="button button--inline button--light-dark">Learn More</div>
                </div>
            </div>
        </li>
        <li class="carousel__pullout__item padding--30 padding-bottom--60 js-carousel-pullout-item">
            <div class="valigner p1__main">
                <div class="valigner__cell">
                    <div class="h1 h1--p1 -light -dark--small">The Art of the Attack</div>
                    <div class="p margin-top--20 margin-bottom--20 -light -grey--small">Strike with precision in the Kobe X. Available 2/7.</div>
                    <div class="button button--inline button--light-dark">Learn More</div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="carousel__wayfinding js-carousel-wayfinding">
        <li class="carousel__wayfinding__item js-carousel-wayfinding-item" data-way="prev">
            <div class="icon icon--arrow-left -light"></div>
        </li>
        <li class="carousel__wayfinding__item js-carousel-wayfinding-item" data-way="next">
            <div class="icon icon--arrow-right -light"></div>
        </li>
    </ul>
</section>
<section class="content--mobile js-content--mobile">
    <div class="button button--light button--right button--right--small -dark -font--15 -text--left -border--top padding-top--25 padding-bottom--25 js-slide-controller js-navi-controller" data-target=".js-slide--doorway-mens">Men&rsquo;s</div>
    <div class="button button--light button--right button--right--small -dark -font--15 -text--left -border--top padding-top--25 padding-bottom--25">Women&rsquo;s</div>
    <div class="button button--light button--right button--right--small -dark -font--15 -text--left -border--top padding-top--25 padding-bottom--25">Boys</div>
    <div class="button button--light button--right button--right--small -dark -font--15 -text--left -border--top padding-top--25 padding-bottom--25">Girls</div>
</section>